body {
    margin-top: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.menu {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 30px);
    border: solid 1px black;
    width: 50px;
    height: 30px;

    

    transform: translateY(-10px);
    

    
}

.dropDownMenu {
    position: absolute;
    top: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.menu > .title:focus{
    opacity: 1;
    transform: translateY(0px);

}


.title:hover{
    cursor: pointer;
}



.items {
    
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    
    
    
    border: dotted 1px black;
}

